.hed1 {
  text-align: center;
  font-size: 40px;
}
.container {
  border: 2px solid black;
  width: 500px;
  height: auto;
  margin: 0 auto;
  font-size: 20px;
}
.form1 {
  padding: 3px;
  margin: 3px;
  padding-top: 2px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
}
.btn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  background-color: blueviolet;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 2px;
}
