body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  margin: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-top: 0;
}

.portfolio-item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right: 20px;
}

.portfolio-item:last-child {
  margin-right: 0;
}

.portfolio-item img {
  width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
