* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: #001660;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background-color: aqua;
}
form {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color: blanchedalmond;
  margin: 33px;
}
form h3 {
  display: flex;
  text-align: center;
  justify-content: center;
  color: cadetblue;
  padding: 2px;
  margin-bottom: 23px;
}

#name{
  display: flex;
  justify-self: center;
  

  margin-bottom: 12px;
  border-radius: 13px;
}