.main {
  background-color: aqua;
  text-align: center;
  border: 2px solid rebeccapurple;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: -moz-linear-gradient(rgba(0, 0, 50, 0.8)),url(459-background.png);
}
