.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="datetime-local"] {
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}
