* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  margin-top: 100px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  background-color: aqua;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px;
  padding: 30px;
  font-size: 24px;
}

.header1 {
  margin: 10px;
}

.header2 {
  margin: 10px;
}

#btn {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.name {
  margin: 20px;
  padding: 20px;
  color: red;
}
.email {
}
.phone {
}
